<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>About</title>
<link rel="stylesheet" href="/css/SeccionFinal.css">
</head>
<body>
	<section th:fragment="SeccionFinal" class="contenedor-4" id="contenedor-4">

        <div class="container my-5">

            <footer class="text-white text-center text-lg-start bg-primary">
            <!-- Grid container -->
            <div class="container p-4">
                <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Acerca de Nosotros</h5>
                    <p>
                        Somos lo mejor en polos para caballero de todo tipo y tenemos la mejor experiencia y seguridad para tus compras
                    </p>
                    <p>
                    <div class="mt-4">
                    <!-- Facebook -->
                    <a type="button" class="btn btn-floating btn-primary btn-lg" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <!-- Dribbble -->
                    <a type="button" class="btn btn-floating btn-primary btn-lg"href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <!-- Twitter -->
                    <a type="button" class="btn btn-floating btn-primary btn-lg" href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
                    <!-- Google + -->
                    <a type="button" class="btn btn-floating btn-primary btn-lg" href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Ffeed%2F&trk=login_reg_redirect"><i class="fab fa-linkedin"></i></a>
                    <!-- Linkedin -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <ul class="fa-ul" style="margin-left: 1.65em;">
                    <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Av.Isabel La catolica con aviacion 1862</span>
                    </li>
                    <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Dexica12.polos@gmail.com</span>
                    </li>
                    <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 73610258</span>
                    </li>
                    <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 51 946195198</span>
                    </li>
                </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Horario de Atención</h5>
                <table class="table text-center text-white">
                    <tbody class="font-weight-normal">
                        <tr>
                            <td>Lunes - Jueves:</td>
                            <td>9am - 8pm</td>
                    </tr>
                    <tr>
                        <td>Viernes - Sabado:</td>
                        <td>9am - 6pm</td>
                    </tr>
                    <tr>
                        <td>Domingo:</td>
                        <td>9am - 2pm</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
            </div>
        </footer>
        </div>



    </section>
</body>
</html>