<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SeccionTres</title>

</head>
<body>

	<section th:fragment="SeccionTres" class="contenedor-3" id="contenedor-3">
            <h3 class="contenedor-3__Titulo">
                Acerca De Nosotros
            </h3>
            
            <div class="Tarjetas">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card" style="width: 70%; height: 560px; margin-top: 20px">
                            <img src='/Imagenes/Serigrafia1.jpg' class="card-img-top" style="height: 300px;"   alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Proceso de Serigrafia</h5>
                                <p class="card-text">Es la técnica de estampación textil más antigua y una de las más utilizadas, su durabilidad y sus increíbles resultados. ¡Nos encanta! Utilizamos materiales de primera para asegurar el mejor rendimiento.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 70%; height: 580px">
                            <img src='/Imagenes/Motivacion.jpg' style="height: 300px;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mision hacia nuestros clientes</h5>
                                <p class="card-text">Nuestra misión es brindar una experiencia de compra en línea excepcional al ofrecer una amplia gama de ropa de alta calidad y última moda.Proporcionando productos que reflejen las últimas tendencias y estilos, y que satisfagan las necesidades y preferencias individuales de nuestros clientes. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 70%; height: 580px">
                            <img src='/Imagenes/Seguridad.png'  style="height: 300px;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Seguridad Maxima</h5>
                                <p class="card-text">En Dexica, la satisfacción y la confianza de nuestros clientes son nuestra máxima prioridad. Nos comprometemos a brindarles una experiencia de compra segura y confiable en nuestra página web. Contamos con rigurosas medidas de seguridad en línea para proteger la privacidad y los datos de nuestros clientes.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>

        </section>
</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>