<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel=stylesheet href="/css/SesionIniciada.css">
</head>
<body style="background-color: black;">
    <div class="Titulo">
        <h1> Felicitaciones Iniciaste Sesion</h1>
    </div>
    <div class="Imagen">
        <img src='/Imagenes/pngegg.png' alt="ManosCruzadas">
    </div>
    <div class="Letras" style="text-align: center;">
        <span>El usuario ingresado es:</span><span th:text="${log.nombre_Usuario}"></span><br/>
        <a href="/home">Presione aqui para ir al menu</a>
    </div>
</body>
</html>
